.btn-card {
  display: inline-block;
  border: none;
  background-color: var(--cardBtnColor);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}
