.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  background: var(--navbarBg);
  color: white;
}

.logo-text {
  margin-left: 0.7rem;
}

.nav-icon {
  cursor: pointer;
  align-self: center;
  margin-right: 0.7rem;
}
